    
    <nav class="navbar navbar-expand-xl navbar-light justify-content-end">
            <div class="push-right navbar-nav-scroll">
                <button href="\users\register" type="button" class="btn btn-primary push-right mx-2" data-toggle="modal" data-target="#exampleModalLong">
                Register
                </button>
                {{#if user}}
                <a href="\users\logout" type="button" class="btn btn-primary push-right mx-2">
                    Logout
                </a>
                {{else}}
                <a href="\users\login" type="button" class="btn btn-primary push-right mx-2">
                Login
                </a>
                {{/if}}
            </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color:black">
        <a class="navbar-brand font-weight-bold" href="#" style="color: red ; font-family:pacifico;font-size: 30px;font-variant: small-caps;">Book <span class="brand-surname">Hotel</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{firstplace}}
        </a>
        <div class="dropdown-menu border border-danger" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{secondplace}}
        </a>
        <div class="dropdown-menu border border-danger" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hyderabad
        </a>
        <div class="dropdown-menu border border-danger" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Chennai
        </a>
        <div class="dropdown-menu border border-danger" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mumbai
        </a>
        <div class="dropdown-menu border border-danger" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Kolkata
        </a>
        <div class="dropdown-menu border border-danger" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    </ul>
    <form class="form-inline ml-auto">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn  text-white btn-primary" type="submit">Search</button>
</form>
</div>
</nav>
    <section>
        <div class="card">
    <img src="\images\gallery03.jpg" style="height:700px;">
    <div class="card-img-overlay" style="padding-top: 150px;">
        <div class="container" style="padding-top: 100px; display: block; ">
                <h2>Find Deals for Hotels</h2>
                <p>Best Prices!!</p>
                <!-- style="background-color:#febb02;padding:4px;border-radius:4px;width:auto; -->
    <div class="row" style="background-color:#febb02;padding:4px;border-radius:4px;max-width:1037px;">   
        <div class="searchbox-outer" style="width:400px;">
            <div class="searchbox" style=""><input type="text" class="form-control" placeholder="Where are u going to ?" style="background-image:url(https://s-ec.bstatic.com/static/img/cross_product_index/accommodation/07ca5cacc9d77a7b50ca3c424ecd606114d9be75.svg);background-repeat:no-repeat;background-position:16px center;padding-left:50px;background-size:20px;display:block;"
                /></div>
        </div>
        <div class="calanderbox-in-outer" style="width:200px;padding-left:4px;padding-right:4px;">
            <div class="calanderbox-in" style=""><input type="date" class="form-control" placeholder="Check-in" style="background-image:url(\images\calender.jpg);background-repeat:no-repeat;background-position:16px center;padding-left:50px;background-size:20px;display:block;"
                /></div>
        </div>
        <div class="calanderbox-out-outer" style="width:200px;padding-left:4px;padding-right:4px;">
            <div class="calanderbox-out" style=""><input type="date" class="form-control" placeholder="Check-out" style="background-image:url(\images\calender.jpg);background-repeat:no-repeat;background-position:16px center;padding-left:50px;background-size:20px;display:block;"
                /></div>
        </div>
        <div class="individual-box-outer" style="width:150px;padding-left:4px;padding-right:4px;">
            <div class="individual-box" style=""><input type="text" class="form-control" placeholder="Rooms" style="background-image:url(individuals.jpg);background-repeat:no-repeat;background-position:16px center;padding-left:50px;background-size:20px;display:block;"
                /></div>
        </div>
        <div class="Search-button-outer" style="width:50px;padding-left:4px;padding-right:4px;">
            <div class="search-button" style="position: relative;width: 100%;">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
    </section>
<hr/>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/users/register" class="p-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" name="Name" aria-describedby="emailHelp" placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" class="form-control" name="Username" aria-describedby="emailHelp" placeholder="johndoe187">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="RegisterEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="RegisterPassword" placeholder="Password">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                    </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="ConfirmPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary justify-content-center">Register</button><br>
                </form> 
        </div>
        <div class="modal-footer justify-content-center">
                <p>Already Have an Account? <a class="text-primary" data-toggle="tooltip" data-placement="top" title="Already Have an Account ?">Log in</a></p>
        </div>
    </div>
    </div>
</div>
{{!-- Modal for Login --}}
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header justify-content-center">
        <h5 class="modal-title justify-content-center" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/users/login" class="p-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="johndoe187">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary justify-content-center">Login</button><br>
                </form> 
        </div>
        <div class="modal-footer justify-content-center">
                <p>Don't Have an Account? <a class="text-primary" data-toggle="tooltip" data-placement="top" title="Register to Book Hotel">Register</a></p>
        </div>
    </div>
    </div>
</div>
<!--  slider -->
<section class="content">
    <h3 style="padding-left: 80px;">Places in Chandigarh</h3>
        <div class="container">
                <div class="row">
                    <div class="room-carousel owl-carousel owl-theme">
                        <div class="item d-flex justify-content-around">
                            <div class="card" id="pt" style="width: 21rem;">
                                <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Hotel Name1</h6>
                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                    <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                </div>
                            </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                            <div class="card" style="width: 21rem;">
                                <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Hotel Name2</h6>
                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                    <a href="#" class="btn btn-primary">Book Now</a>
                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                </div>
                            </div>
                        </div>
                            <div class="item d-flex justify-content-around">
                                    <div class="card" style="width: 21rem;">
                                            <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h6 class="card-title">Hotel Name3</h6>
                                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                <a href="#" class="btn btn-primary">Book Now</a>
                                                <a href="#pt" class="price card-link">Rs 1100</a>
                                            </div>
                                    </div>
                            </div>
                            <div class="item d-flex justify-content-around">
                                    <div class="card" style="width: 21rem;">
                                            <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h6 class="card-title">Hotel Name4</h6>
                                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                <a href="#" class="btn btn-primary">Book Now</a>
                                                <a href="#pt" class="price card-link">Rs 1100</a>
                                            </div>
                                    </div>
                            </div>
                            <div class="item d-flex justify-content-around">
                                    <div class="card" style="width: 21rem;">
                                            <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h6 class="card-title">Hotel Name5</h6>
                                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                <a href="#" class="btn btn-primary">Book Now</a>
                                                <a href="#pt" class="price card-link">Rs 1100</a>
                                            </div>
                                    </div>
                            </div>
                            <div class="item d-flex justify-content-around">
                                    <div class="card" style="width: 21rem;">
                                            <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h6 class="card-title">Hotel Name6</h6>
                                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                <a href="#" class="btn btn-primary">Book Now</a>
                                                <a href="#pt" class="price card-link">Rs 1100</a>
                                            </div>
                                            </div>
                                    </div>
                                    <div class="item d-flex justify-content-around">
                                            <div class="card" style="width: 21rem;">
                                                    <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Hotel Name7</h6>
                                                        <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                        <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                        <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                        <a href="#" class="btn btn-primary">Book Now</a>
                                                        <a href="#pt" class="price card-link">Rs 1100</a>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="item d-flex justify-content-around">
                                            <div class="card" style="width: 21rem;">
                                                    <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Hotel Name8</h6>
                                                        <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                        <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                        <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                        <a href="#" class="btn btn-primary">Book Now</a>
                                                        <a href="#pt" class="price card-link">Rs 1100</a>
                                                    </div>
                                            </div>
                                    </div>
                    </div>
            </div>
                    </div>
    <h3 style="padding-left: 80px">Places in Delhi</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">{{Name}}</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">{{Location}}</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">{{Price}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
    <h3 style="padding-left: 80px">Places in Hyderabad</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name1</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
    <h3 style="padding-left: 80px">Places in Chennai</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name1</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
    <h3 style="padding-left: 80px">Places in Mumbai</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name1</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
    <h3 style="padding-left: 80px">Places in Kolkata</h3>
    <div class="container">
            <div class="row">
                <div class="room-carousel owl-carousel owl-theme">
                    <div class="item d-flex justify-content-around">
                        <div class="card" id="pt" style="width: 21rem;">
                            <img class="card-img-top" src="images/room01.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name1</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="card-link btn btn-primary btn-sm">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                    <div class="item d-flex justify-content-around">
                        <div class="card" style="width: 21rem;">
                            <img class="card-img-top" src="images/room02.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Hotel Name2</h6>
                                <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                                <a href="#pt" class="price card-link">Rs 1100</a>
                            </div>
                        </div>
                    </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room03.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name3</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room04.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name4</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room05.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name5</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                </div>
                        </div>
                        <div class="item d-flex justify-content-around">
                                <div class="card" style="width: 21rem;">
                                        <img class="card-img-top" src="images/room06.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h6 class="card-title">Hotel Name6</h6>
                                            <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                            <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                            <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                            <a href="#" class="btn btn-primary">Book Now</a>
                                            <a href="#pt" class="price card-link">Rs 1100</a>
                                        </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room07.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name7</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="item d-flex justify-content-around">
                                        <div class="card" style="width: 21rem;">
                                                <img class="card-img-top" src="images/room08.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <h6 class="card-title">Hotel Name8</h6>
                                                    <p class="location"><i class="fa fa-map-marker"></i><span class="city">  Cityname</span>,placename</p>
                                                    <p class="card-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 ...</p>
                                                    <p><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> </p>
                                                    <a href="#" class="btn btn-primary">Book Now</a>
                                                    <a href="#pt" class="price card-link">Rs 1100</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
                </div>
</section>
    <hr/>
        
<!--  slider -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
